/* RESETS & HELPERS */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-y: auto;
}

*:not(select, input) {
  border: var(--border);
}

.ZZZ {
  border: var(--border-1);
}

.YYY {
  background: rgba(250, 126, 112, 0.847);
}

.EDIT {
  resize: both;
  overflow: scroll;
}

/* TYPOGRAPHY */

* {
  font-family: var(--font-family-1);
}

a:link,
a:visited {
  text-decoration: none;
}

li.nolist {
  list-style: none;
  padding-left: 0;
}

.p-mid,
p.mid,
h1.mid,
h2.mid,
h3.mid,
h4.mid {
  display: block;
  text-align: center;
}

a,
p,
label,
legend,
input,
select,
option,
li,
span,
button,
caption,
th,
td,
code,
blockquote {
  font-size: var(--base-font-size);
}

h4 {
  font-size: calc(var(--base-font-size) * 18 / 16);
}

h3 {
  font-size: calc(var(--base-font-size) * 20 / 16);
}

h2 {
  font-size: calc(var(--base-font-size) * 22 / 16);
}

h1 {
  font-size: calc(var(--base-font-size) * 24 / 16);
}

blockquote {
  margin: var(--big-margin) 2rem;
}

/* LAYOUT */

.page-wrapper {
  margin: 0 var(--mobile-gutter);
}

@media screen and (min-width: 1280px) {
  .page-wrapper {
    margin: 0 auto;
    max-width: var(--xl-screen-maxw);
  }
}

.full-page {
  min-height: 100vh;
}

.sticky {
  position: sticky;
}

.sticky-head {
  position: sticky;
  top: 0;
  width: 100%;
}

.fixed-foot {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
}

.sticky-mid {
  position: sticky;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
}

.rel {
  position: relative;
}

.rel-child-mid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.stretch {
  align-items: stretch;
}

.down.stretch {
  justify-content: stretch;
}

.grow {
  flex-grow: 1;
}

.mid.gap {
  gap: 10px;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}

.mid.left {
  justify-content: start;
}

.mid.right {
  justify-content: end;
}

.mid.head {
  align-items: start;
}

.mid.foot {
  align-items: end;
}

.mid.down {
  flex-direction: column;
}

.mid.down-left {
  flex-direction: column;
  align-items: start;
}

.mid.down-right {
  flex-direction: column;
  align-items: end;
}

.mid.down-head {
  flex-direction: column;
  justify-content: start;
}

.mid.down-foot {
  flex-direction: column;
  justify-content: end;
}

.cols-auto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--min-col-width), 1fr));
  gap: var(--col-gap);
}

.col-mid {
  justify-items: center;
}
